/*@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');*/
/*@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900');

body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  color: #4d5461;
  background-color: rgb(230,250,255);
  /*background-color: #00000D;*/
}

/*.offset:before {
  display: block;
  content: "";
  height: 2rem;
  margin-top: 4rem;
  background-color: black;
}*/

svg.svg-inline--fa {
  color: #f44336;
}

/* Navbar */

.navbar {
  /*text-transform: uppercase;*/
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  background-color: rgba(0,0,0,0.95)!important;
}

.navbar-brand img {
  -webkit-transition: all .3s ease-in-out;
}

.navbar-brand img:hover {
  -webkit-transform: scale(1.2);
}

.fa-code {
  -webkit-transition: all .3s ease-in-out; 
}

.fa-code:hover {
  -webkit-transform: scale(1.2);
}

.navbar-nav li {
  padding-right: 1rem;
  -webkit-transition: all .3s ease-in-out;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link:hover {
  color: #f44336;
  -webkit-transform: scale(1.1);
}

/* Landing Page */

.home-inner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../img/background.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 20%;
  z-index: 1;
  color: white;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1rem;
}

.caption h5 {
  font-size: 1.5rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 4rem;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.caption h4 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.btn-outline-light {
  /*border-width: small;*/
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgba(0,0,0,0.6);
}

.caption img {
  -webkit-transition: all .3s ease-in-out;
}

.caption img:hover {
  -webkit-transform: scale(1.09);
}


/* Events */

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
  background-color: rgb(230,250,255);
}

h1.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
  -webkit-transition: all .3s ease-in-out;
}

h1.heading:hover {
  -webkit-transform: scale(1.02);
}

.heading-underline {
  width: 3rem;
  height: 0.2rem;
  background-color: #f44336;
  margin: 0 auto 2rem;
}

.events h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
  font-weight: 700;
}

.events p {
  font-size: 1.1rem;
  text-align: justify;
  text-justify: inter-word;
}

.events {
  margin: 1rem 0.4rem;
}

.events img {
  filter: gray;
  -webkit-filter: grayscale(1);
  -webkit-transition: all .3s ease-in-out;
}

.events img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.09);
}

/* Register */

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 2.4rem;
}

.btn-outline-dark {
  margin: 1rem;
}

#register .fixed {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/background1.jpg);
  z-index: -1;
  /*text-color: white;*/
}

.dark {
  /*background-color: rgba(0,0,0,0.4);*/
  color: white;
  padding: 7rem 2rem;
}

.fixed-background h3 {
  margin-bottom: 2rem;
}

.fixed-background p {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.fixed-background h5 {
  margin-top: 1.5rem;
}




/* Team */

.team img {
  /*height: 50%;*/
  width: 90%;
  border-radius: 50%;
  margin-bottom: 1rem;
  max-width: 12rem; 
  margin-top: 1rem;
}

.team img {
  /*filter: gray;*/
  /*-webkit-filter: grayscale(1);*/
  -webkit-transition: all .3s ease-in-out;
}

.team img:hover {
  /*filter: none;*/
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.09);
}


/* About - Carousel*/

#about .fixed {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/background2.jpg);
  z-index: -1;
  /*text-color: white;*/
}

.carousel-inner{
/*   color: black; */
	height: 30rem;
}
.carousel-caption{
  color: #fff;
  top: 50%;
  margin-bottom: 3rem;
}

.carousel-caption h3 {
	/*top: 0;*/
  font-size: 2rem;
  font-weight: 700;
}

.carousel-caption p {
  font-size: 1.4rem;
  text-align: justify;
  text-justify: inter-word;
  font-weight: 300;

}


/* Contact */

footer img {
  -webkit-transition: all .3s ease-in-out;
}

footer img:hover {
  -webkit-transform: scale(1.09);
}

footer {
  background-color: #20272e;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: -6rem;

}

footer h1 {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

footer a {
  color: white;
}

footer p {
  font-size: 1.2rem;
  text-align: justify;
  text-justify: inter-word;
  font-weight: 400;
}

footer svg.svg-inline--fa {
  color: white;
  font-size: 1.6rem;
  margin: 1.2rem 1rem 0 0;
}

footer svg.svg-inline--fa:hover {
  color: #f44336;
}

.fa-code {
  color: #f44336!important;
}

hr.socket {
  width:90%;
  border-top: 0.1rem solid #f44336;
}

/* Media Queries */

@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
    /*text-transform: uppercase;*/
  }

  .caption h4 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }

  .btn-lg {
    padding: .5rem 1rem;
    font-size: 1rem;
    /*text-transform: uppercase;*/
  }
  .narrow h1 {
    font-size: 1.5rem;
  }
  .team img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
  .carousel-caption h3 {
	  font-size: 1.5rem;
	  font-weight: 700;
	}

.carousel-caption p {
	  font-size: 1rem;
	  font-weight: 300;
	}
}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
